<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="../../src/css/emitirLaudo.css" />
</head>
<body>

<script type='text/javascript'>
    $(document).ready(function(){
        $("input[name='cpf_paciente']").blur(function(){
            var $crm_responsavel = $("input[name='crm_responsavel']");
            var $data_exame = $("input[name='data_exame']");
            var $diagnostico = $("input[name='diagnostico']");
            var $exame = $("input[name='exame']");

            $.getJSON('../../controllers/emitir_laudo.php',{
                cpf_paciente: $( this ).val()
            },function( json ){
                $cpf_paciente.val( json.cpf_paciente );
                $crm_responsavel.val( json.crm_responsavel);
                $exame.val(json.exame);

                console.log('--> json', json);
            });
        });
    });
</script>

<form method="POST" action="../../controllers/emitir_laudo.php">
    <div class="container">
    <div class="label">
        <div class="link-home"> 
            <a  href="../index.html"> <img src="../../src/img/common/home.png" alt="home link"/> </a>
          </div>
    <h1>Emissão de Laudo</h1>

    <div class="item-laudo">
    <textarea type="text" class="form-control" name="laudo" placeholder="Laudo"></textarea>
    </div>

    <div class="item-crm">
    <input type="text" class="form-control" name="crm_responsavel" placeholder="CRM">
    </div>
    
    <div class="botao-emitir">
    <input type="submit" value="Emitir">
    </div>
    </div>
</div>
</form>
</body>
