<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>Emissão de Laudo</title>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    </head>
    <body>

        <form method="POST" enctype="multipart/form-data">
            <div class="container">
                <div class="label">
                    <h1>Emissão de Laudo</h1>
                    <div class="info-paciente">
                        <p id="nome_paciente">Nome</p>
                        <p id="cpf_paciente">CPF</p>
                        <p id="sexo_paciente">Sexo</p>
                        <!-- idade no formato X anos, X meses, X dias -->
                        <p id="idade_paciente">Idade</p> 
                    </div>
                    <div class="info-exame">
                        <p id="id_exame">ID Exame</p>
                        <p id="nome_exame">Nome Exame</p>
                    </div>
                    <div class="item-diagnostico">
                        <p id="diagnostico_previo">Diagnostico Previo</p>
                    </div>

                    <!-- Só aparece quando tiver dados -->
                    <div class="item-anotacao">
                        <p id="anotacao"></p>
                    </div>

                    <div class="item-laudo">
                        <textarea type="text" class="form-control" name="laudo" placeholder="Laudo"></textarea>
                    </div>
                    <div class="imagem-laudo">
                        <label>Imagem:</label>
                        <input type="file" name="arquivo"/>
                    </div>
                    <div class="botao-salvar">
                        <input type="submit" value="Salvar">
                    </div>
                </div>
            </div>
        </form>

        <script>
            var xmlhttp = new XMLHttpRequest();

            var url = window.location.href;
            var inicio_palavra = url.indexOf("/emitir_laudo/") + 14;
            var id_exame = url.substring(inicio_palavra, url.length);
            var url_final = "/residente/dados_exame/" + id_exame;

            xmlhttp.onload = function(){
                var json = JSON.parse(this.responseText);

                console.log(json);

                document.getElementById("nome_paciente").innerHTML = "Nome: " + json.nome_paciente;
                document.getElementById("cpf_paciente").innerHTML = "CPF: " + json.cpf_paciente;
                document.getElementById("sexo_paciente").innerHTML = "Sexo: " + json.sexo_paciente;
                // document.getElementById("idade_paciente").innerHTML = "" + json.;
                document.getElementById("id_exame").innerHTML = "Exame (Codigo): " + json.id_exame;
                document.getElementById("nome_exame").innerHTML = "Nome Exame: " + json.nome_exame;
                document.getElementById("diagnostico_previo").innerHTML = "Diagnostico Previo: " + json.diagnostico_previo;

                // Só aparece quando tiver dados
                if(!json.anotacao == null || !json.anotacao == ""){
                    document.getElementById("anotacao").innerHTML = "Anotação para Revisão: " + json.anotacao;
                }
                
            };
                
            xmlhttp.open("POST", url_final, true);
            xmlhttp.setRequestHeader("X-Requested-With", "XMLHttpRequest");
            xmlhttp.send();

        </script>

    </body>
</html>