/* Cards de gerenciamentp*/

.cardBox{
    position:relative;
    width: 100%;
    padding: 20px;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:20px;
}

.cardBox .card{
    position:relative;
    background-color: #fff;
    padding:20px;
    display:flex;
    justify-content:space-between;
    cursor:default;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 5px 10px 10px 0px rgba(0,0,0,0.5);
}

.cardBox .card .numbers{
    font-size: 2.0rem;
    font-weight: 600;
}

.cardBox .card .cardName{
    color: #264653;
}

.cardBox .card .iconBox i {
    color:#81b29a;
    font-size: 2.0rem;
}

/* Detalhamento de pacientes*/

.details{
    position:relative;
    width:100%;
    padding:20px;
    padding-top:0;
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-gap:20px;
}

.details .diagnosePacients{
    position:relative;
    display: grid;
    min-height: 530px;
    background-color: #fff;
    padding:20px;
    overflow-y:auto;
    
}

.details .pacientHeader{
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
}

.pacientHeader h2{
    font-weight: 500;
    font-size: 1.3rem;
}

.btnViewAll{
    position:relative;
    padding: 5px 10px;
    text-decoration: none;
    background-color:#81b29a;
    color:#fafaff;
    border-radius: 6px;
}

.details .diagnosePacients table{
    width: 100%;
    border-collapse: collapse;
    margin-top:10px;
}

.details .diagnosePacients table thead td{
    font-weight: 600;
}

.details .diagnosePacients table tr{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.details .diagnosePacients table tbody tr:last-child{
    border-bottom:none;
}

.details .diagnosePacients table tbody tr:hover{
    background-color: #7380f3;
    color:#fafaff;
}

.details .diagnosePacients table tr td{
    padding: 10px 5px;
}
.details .diagnosePacients table thead tr td {
    text-align:left;
}
.details .diagnosePacients table tbody tr td:last-child{
    text-align:right;
}

.details .diagnosePacients table thead tr td:last-child{
    text-align:right;
}


.recentPacients{
    position:relative;
    display:flex;
    flex-direction: column;
    min-height: 530px;
    background-color: #f1f2f6;
    padding:20px;
}

.recentPacientsData{
    
    margin-top:20px;
    width:100%;
    height:100%;
}

.recentPacientsData .data{
    padding: 20px;
    margin-bottom: 5px;
    background-color:#fff;
    border-radius: 10px;
    font-size: 1.5rem;
}

.recentPacientsData .data:hover{
    background-color: #81b29a;
}

.recentPacientsData .data span:nth-child(3){
    display:block;
}

/*---*/
