<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Dashboard Opções Paciente</title>
  </head>
  <body>
    <div class="mudar_dados">
      <div>
        <h2>Atualizar Dados (Só para pacientes não cadastrados)</h2>
        <button onclick="window.location.href='../cadastro/atualizar_paciente.html';">ENTRAR</button> </a>
      </div>
    </div>

    <div class="visualizar_laudos">
        <div>
          <h2>Visualizar Laudos</h2>
          <button onclick="window.location.href='';">ENTRAR</button> </a>
        </div>

        <div class="sair">
          <div>
            <button onclick="window.location.href='../index.html';">SAIR</button> </a>
          </div>
      </div>
  </body>
</html>
