<!DOCTYPE html>
<html>
  <head>
    <title>Tela de Cadastro de Médico</title>
    <link rel="stylesheet" href="../src/css/cadastro_medico.css" />
  </head>
  <body>
    <div class="container-cadastro">
      <form method="POST" action="../controllers/cadastro_medico.php">
        <div class="items-cadastro">
          <div class="item item-cadastro-login">
            <label>Nome:</label><br />
            <input
              type="text"
              name="nome"
              id="nome"
              placeholder="Insira seu Nome"
            />
          </div>

          <div class="item item-cadastro-crm">
            <label>CRM:</label><br />
            <input
              type="text"
              name="crm"
              id="crm"
              placeholder="Insira o número"
            />
          </div>

          <div class="item item-cadastro-senha">
            <label>Senha:</label><br />
            <input
              type="password"
              name="senha"
              id="senha"
              placeholder="************"
            />
          </div>

          <div class="item item-cadastro-tipo-medico" id="tipoMedico">
            <label>Médico</label> <br />
            <select name="medico" id="medico">
              <option selected value="null">---|---</option>
              <option value="medico">Médico</option>
              <option value="residente">Residente</option>
              <option value="professor">Professor</option>
            </select>
          </div>

          <div class="item" id="conteudo-variavel"></div>

          <br />
          <input
            type="submit"
            value="Cadastrar"
            id="cadastrar"
            name="cadastrar"
          />
        </div>
      </form>
    </div>
    <script src="../src/js/script-cadastro-medico.js"></script>
  </body>
</html>
