<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../src/css/style.css" />
    <title>Tela Inicial</title>
  </head>
  <body>
    <div class="medico">
      <div class="item item-content1">
        <h2>Médico</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore,
          quo adipisci architecto nobis numquam maxime. Consequuntur, vero esse
          alias temporibus adipisci assumenda, soluta facilis illum
          necessitatibus maxime iste, tenetur autem!
        </p>
        <button>ENTRAR</button>
      </div>
    </div>
    <div class="paciente">
      <div class="item item-content2">
        <h2>Paciente</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore,
          quo adipisci architecto nobis numquam maxime. Consequuntur, vero esse
          alias temporibus adipisci assumenda, soluta facilis illum
          necessitatibus maxime iste, tenetur autem!
        </p>
        <button>ENTRAR</button>
      </div>
    </div>
  </body>
</html>
