<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../src/css/home_page.css" />
    <title>Tela Inicial</title>
  </head>
  <body>
    <div class="container-home">

      <div class="medico">
        <h2>Médico</h2>
        
        <div class="item">
          <a href="./login/login_medico.html">ENTRAR</a>  
        </div>

      </div>
      
      <div class="paciente">
        <h2>Paciente</h2>

        <div class="item">
          <a href="./login/login_paciente.html">ENTRAR</a>
        </div>

      </div>
        
      <div class="funcionario">
        <h2>Funcionário</h2>
        
        <div class="item">
          <a href="./login/login_funcionario.html">ENTRAR</a>
        </div>
      </div>

      </div>

    </div>
  </body>
</html>
