<!DOCTYPE html>
<html>
  <head>
    <title>Tela de Login de Médicos</title>
    <link rel="stylesheet" href="../src/css/login_medico.css" />
  </head>

  <body>
    <form method="POST" action="../controllers/login_medico.php">
      <label>CRM:</label><input type="text" name="crm" id="crm" />
      <br />
      <label>Senha:</label
      ><input type="password" name="senha" id="senha" />
      <br />
      <input type="submit" value="entrar" id="entrar" name="entrar" /><br />
      <a href="cadastro_medico.html">Cadastre-se</a>
    </form>
  </body>
</html>