<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../src/css/login_medico.css" />
    <title>Tela de Login de Médicos</title>
  </head>

  <body>
    <div class="container">
      <div class="label">
        <h2>Login</h2>
        <form method="POST" action="../controllers/login_medico.php">
          <div class="item-crm">
            <input type="text" name="crm" id="crm" placeholder="Registro CRM" />
          </div>

          <div class="item-senha">
            <input
              type="password"
              name="senha"
              id="senha"
              placeholder="Insira a senha"
            />
          </div>

          <div class="subbotao">
            <input type="submit" value="Entrar" id="entrar" name="entrar" />
          </div>

          <div class="cadastro">
            <p>
              Não tem cadastro? <br />
              Clique no link abaixo.
            </p>
            <a href="cadastro_medico.html">Cadastre-se</a>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
