<!DOCTYPE html>
<html>
  <head>
    <title>Tela de Login de Pacientes</title>
  </head>

  <body>
    <form method="POST" action="../controllers/login_paciente.php">
      <label>CPF:</label><input type="text" name="cpf" id="cpf" />
      <br />
      <label>Senha:</label
      ><input type="password" name="senha" id="senha" />
      <br />
      <input type="submit" value="entrar" id="entrar" name="entrar" /><br />
      <a href="cadastro_paciente.html"> Cadastre-se</a>
    </form>
  </body>
</html>
