<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../src/css/solicitar_exame.css" />
    <title>Solicitação de Exame</title>
  </head>
  <body>
    <div class="container">
      <div class="content-box">
        <form method="POST" action="../controllers/solicitar_exame.php">
          <div class="item item-cpf">
            <label>CPF:</label><br />
            <input
              type="text"
              name="cpf"
              id="cpf"
              placeholder="000.000.000-00"
            />
          </div>
          <!-- Galera do Front, se alguem souber como fazer um script pra deixar a data maxima como a do dia atual, ajudaria bastante -->
          <div class="item item-data">
            <label for="data">Data Prevista de Exame:</label> <br />
            <input
              type="date"
              id="data"
              name="data"
              value="2020-01-01"
              min="1910-01-01"
              max="2022-01-01"
            />
          </div>

          <div class="item item-cadastro-tipo-exame">
            <label>Tipo de Exame:</label><br />

            <select name="TipoExame">
              <option selected value="null">Exame</option>
              <option value="Ecocardiograma">Ecocardiograma</option>
              <option value="Eletrocardiograma">Eletrocardiograma</option>
              <option value="Mapa">Mapa</option>
            </select>
          </div>

          <div class="item item-recomendacao">
            <label>Recomendações:</label><br />
            <textarea name="recomende" id="recomende"></textarea>
            <br />
          </div>

          <div class="item item-submit">
            <input
              type="submit"
              value="Solicitar"
              id="solicitar"
              name="solicitar"
            />
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
