<!DOCTYPE html>
<html>
  <head>
    <title>Solicitação de Exame</title>
  </head>
  <body>
    <form method="POST" action="../controllers/solicitar_exame.php">
      <label>CPF:</label>
      <input type="text" name="cpf" id="cpf" />
      <br />

      <!-- Galera do Front, se alguem souber como fazer um script pra deixar a data minima como a do dia atual, ajudaria bastante -->

      <label for="data">Data Prevista de Exame:</label> <br />
            <input
              type="date"
              id="data"
              name="data"
              value="2020-01-01"
              min="1910-01-01"
              max="2022-01-01"
            />
      <br />
      <label>Tipo de Exame:</label>
      <div class="item item-cadastro-tipo-exame">
            <select name="TipoExame">
              <option selected value="null">Exame</option>
              <option value="Ecocardiograma">Ecocardiograma</option>
              <option value="Eletrocardiograma">Eletrocardiograma</option>
              <option value="Mapa">Mapa</option>
            </select>
          </div>
      <br />

      <label>Recomendações:</label>
      <input type="text" name="recomende" id="recomende" />
      <br />

      <br />
      <input type="submit" value="Solicitar" id="solicitar" name="solicitar" />
    </form>
  </body>
</html>
