.container-atualizar-cadastro{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    
}



.btnSubmit-Atualizar input{
    border: 0;
    box-shadow: 0px -1px 20px 3px rgba(131, 149, 167, 0.6);
    background-color: rgba(10, 189, 227, 0.5);
    color: white;
    font-weight: 800;
}

.btnSubmit-Atualizar input:hover{
    background-color: rgba(10, 189, 227, 1.0);
}