*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}


body{
    overflow-x: hidden;
}


.container-tela-inicial {

    position:relative;
    width: 100vw;
    background-color: #fafaff;
  
}


.sidebar{
    position:fixed;
    width: 300px;
    height: 100%;
    background-color: #7380f3;
    transition: all 0.7s;
    overflow: hidden;
}


.sidebar ul{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
}

.sidebar ul li{
    position: relative;
    width: 100%;
    list-style: none;
    color: #fff;
    cursor: pointer;
}

.sidebar ul li:nth-child(1){
    margin-bottom: 20px;
    border-bottom: 1px solid #fafaff;
}

.sidebar ul li:hover
{
    background-color: #81b29a;
    color: #264653;
}

.sidebar ul li:nth-child(1):hover{
    background: transparent;
    color: #fff;
    cursor:default;
}

.sidebar ul li a{
    display:flex;
}

.sidebar ul li a .icon{
    position:relative;
    display:block;
    min-width: 60px;
    height:60px;
    line-height: 60px;
    text-align: center;
}

.sidebar ul li a .icon .fas{
    color:#fafaff;
    font-size: 24px;
}

.sidebar ul li a .title{
    position:relative;
    display: block;
    padding: 0 10px;
    height:60px;
    line-height: 60px;
    white-space: nowrap;
}

.main {
    position: absolute;
    width: calc(100% - 300px);
    min-height:100vh;
    left: 300px;
    background: url(../../img/common/pattern1.jpg) repeat;
    background-size: cover;
    background-color: #fafaff;
    transition: all 0.7s;
}



.topbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #fff;
}

.toggle{
    
    background-color: #7380f3;
    color: #fafaff;
    cursor:pointer;
    width:60px;
    height:60px;
    display:flex;
    justify-content: center;
    align-items:center;
    transition: all 0.5s;
}

.toggle i {
    font-size: 25px;
}

/*Efeito da sidebar*/

.sidebar.active{
    width:60px;
}

.main.active{
    width: calc(100% - 60px);
    left:60px;
}

.toggle.active{
    background-color: #fafaff;
    color: #000;
}

/*----*/

.search{
    position: relative;
    width: 400px;
    height: 50px;
    margin: 0 10px;
}

.search input{
    width:100%;
    height: 100%;
    padding: 5px 20px;
    padding-left: 35px;
    border-radius: 10px;
    outline: none;
    border: 1px solid rgba(0,0,0,0.2);
}

.search .fas {
    position:absolute;
    top: 15px;
    left: 15px;
}

/* Cards de gerenciamentp*/

.cardBox{
    position:relative;
    width: 100%;
    padding: 20px;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:20px;
}

.cardBox .card{
    position:relative;
    background-color: #fff;
    padding:20px;
    display:flex;
    justify-content:space-between;
    cursor:default;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 5px 10px 10px 0px rgba(0,0,0,0.5);
}

.cardBox .card .numbers{
    font-size: 2.0rem;
    font-weight: 600;
}

.cardBox .card .cardName{
    color: #264653;
}

.cardBox .card .iconBox i {
    color:#81b29a;
    font-size: 2.0rem;
}

/* Detalhamento de dados exibidos na tabela*/

.details{
    position:relative;
    width:100%;
    padding:20px;
    padding-top:0;
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-gap:20px;
}

.details .infoTable{
    position:relative;
    display: grid;
    min-height: 530px;
    background-color: #fff;
    padding:20px;
    overflow-y:auto;
    
}

.details .infoTableHeader{
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
}

.infoTableHeader h2{
    font-weight: 500;
    font-size: 1.3rem;
}

.btnViewAll{
    position:relative;
    padding: 5px 10px;
    text-decoration: none;
    background-color:#81b29a;
    color:#fafaff;
    border-radius: 6px;
}

.details .infoTable table{
    width: 100%;
    border-collapse: collapse;
    margin-top:10px;
}

.details .infoTable table thead td{
    font-weight: 600;
}

.details .infoTable table tr{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.details .infoTable table tbody tr:last-child{
    border-bottom:none;
}

.details .infoTable table tbody tr:hover{
    background-color: #7380f3;
    color:#fafaff;
}

.details .infoTable table tr td{
    padding: 10px 5px;
}
.details .infoTable table thead tr td {
    text-align:left;
}
.details .infoTable table tbody tr td:last-child{
    text-align:right;
}

.details .infoTable table thead tr td:last-child{
    text-align:right;
}


.recentsViewer{
    position:relative;
    display:flex;
    flex-direction: column;
    min-height: 530px;
    background-color: #f1f2f6;
    padding:20px;
}

.recentsViewerData{
    
    margin-top:20px;
    width:100%;
    height:100%;
}

.recentsViewerData .data{
    padding: 20px;
    margin-bottom: 5px;
    background-color:#fff;
    border-radius: 10px;
    font-size: 1.5rem;
}

.recentsViewerData .data:hover{
    background-color: #81b29a;
}

.recentsViewerData .data span:nth-child(3){
    display:block;
}

/*---*/



.conteudo-dinamico{
    height: 100%;
    width: 100%;
    overflow-y:scroll;
    padding: 20px;
}

/*Media Queries*/

@media (max-width: 992px){

    .sidebar{
        left: -300px;
    }
    
    .sidebar.active{
        left:0;
        width: 300px;
    }
    
    .main{
        width: 100%;
        left:0;
    }
    
    .main.active{
        width: calc(100% - 300px);
        left: 300px;
    }
    
    }
    
    @media (max-width: 768px){
    
        .details{
            grid-template-columns: repeat(1,1fr);
        }
    
        .infoTableHeader h2{
            font-weight: 600;
            font-size: 1rem;
        }
    }
    
    @media (max-width: 480px){
    
        .cardBox{
            grid-template-columns: repeat(1,1fr);
        }
    
        .details .infoTable table{
            width: 600px;
            overflow-x: auto;
        }
    
        .sidebar{
            width: 100%;
            left: -100%;
            z-index: 1;
        }
    
        .sidebar.active{
            width: 100%;
            left: 0;
        }
    
        .toggle{
            border: none;
        }
    
        .toggle.active{
            z-index: 2;
            background: transparent;
            border-left: none;
        }
    
        
    }
    
    /*---*/