<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../../src/css/login_paciente.css" />
    <title>Tela de Login de Pacientes</title>
  </head>

  <body>
    <div class="container-login-paciente">
      <div class="label">
        <div class="link-home"> 
          <a  href="/"> <img src="../../src/img/common/home.png" alt="home link"/> </a>
        </div>
        
          <h2 class="titulo">Login</h2> 
          <form method="POST" action="/paciente/login">
            
            <div class= "item-login">
                <input type="text" name="cpf" id= "cpf" placeholder= "Inserir CPF"/>
            </div>

            <div class= "item-senha">
                <input type="password" name="senha" id= "senha" placeholder= "Inserir Senha"/>
            </div>

            <div class= "botao">
                <input type="submit" value="Entrar" id= "entrar" name="entrar"/>
            </div> 

            <div class= "cadastro"> 
                <p> Não tem cadastro? <br /> Clique no link abaixo.</p>
                <a href="/paciente/cadastro"> Cadastre-se</a>
            </div>

            
          
        </form>
      </div>
    </div>
  </body>
</html>
