<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../../src/css/login_medico.css" />
    <title>Tela de Login de Médicos</title>
  </head>

  <body>
    <div class="container">

      <div class="label">

        <div class="link-home"> 
          <a  href="/"> <img src="../../src/img/common/home.png" alt="home link"/> </a>
        </div>

        <h2 class="titulo">Login</h2>

        <form method="POST" action="/login_medicos">

          <div class="item-crm">
            <input type="text" name="crm" id="crm" placeholder="Registro CRM" />
          </div>

          <div class="item-senha">
            <input
              type="password"
              name="senha"
              id="senha"
              placeholder="Insira a senha"
            />
          </div>

          <div class="botao-submit">
            <input type="submit" value="Entrar" id="entrar" name="entrar" />
          </div>
                              
        </form>

      </div>

    </div>

  </body>
</html>
