<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../../src/css/login_paciente.css" />
    <title>Tela de Login de Pacientes</title>
  </head>

  <body>
    <div class="container">
      <div class="label">
          <h2>Login</h2> 
          <form method="POST" action="../../controllers/login_paciente.php">
            
            <div class= "item-login">
                <input type="text" name="cpf" id= "cpf" placeholder= "Inserir CPF"/>
            </div>

            <div class= "item-senha">
                <input type="password" name="senha" id= "senha" placeholder= "Inserir Senha"/>
            </div>

            <div class= "botao">
                <input type="submit" value="Entrar" id= "entrar" name="entrar"/>
            </div> 

            <div class= "cadastro"> 
                <p> Não tem cadastro? <br /> Clique no link abaixo.</p>
            </div>

            <a href="../cadastro/cadastro_paciente.html"> Cadastre-se</a>
          
        </form>
      </div>
    </div>
  </body>
</html>
