<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../../src/css/atualizar_paciente.css" />
    <title>Modificação de Dados - Paciente</title>
  </head>

  <body>
    <div class="container-cadastro">
      <form method="POST" action="../../controllers/atualizar_paciente.php">
        <div class="items-cadastro">
          <h1>Atualizar Dados</h1>
          <!-- -->
          <div class="item item-cadastro-nome">
            <input
              type="text"
              name="nome"
              id="nome"
              placeholder="Insira seu nome"
            />
          </div>

          <div class="item item-cadastro-senha">
            <input
              type="password"
              name="senha"
              id="senha"
              placeholder="Insira sua senha"
            />
          </div>

          <div class="item item-cadastro-cor">
            <label>Cor:</label> <br />
            <select name="cor" id="cor">
              <option selected value="null">---|---</option>
              <option value="branco">Branco</option>
              <option value="negro">Negro</option>
              <option value="pardo">Pardo</option>
              <option value="amarelo">Amarelo</option>
            </select>
          </div>

          <div class="item item-cadastro-nascimento">
            <label for="data">Data de Nascimento:</label> <br />
            <input
              type="date"
              id="data"
              name="data"
              value="2020-01-01"
              min="1910-01-01"
              max="2022-01-01"
            />
          </div>
          <br />
          <div class="item item-cadastro-sexo">
            <label>Sexo: </label> <br />
            <select name="sexo" id="sexo">
              <option value="null">---|---</option>
              <option value="masculino">Masculino</option>
              <option value="feminino">Feminino</option>
              <option value="outro">Outro</option>
            </select>
          </div>
          <div class="btnModificar">
          <input 
            type="submit"           
            value="Modificar"
            id="modificar"
            name="modificar"
          />
        </div>
        </div>
    </div>
  </body>
</html>
