<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../../src/css/cadastro_paciente.css" />
    <title>Tela de Cadastro de Pacientes</title>
  </head>
  <body>
    <div class="container-cadastro">
      <form method="POST" action="/paciente/cadastro">
        <div class="items-cadastro">

          <div class="link-home">
            <a  href="/paciente/login"> <img src="../../src/img/common/seta_voltar.png" alt="home link"/> </a>
          </div>

          <div class="item item-cadastro-nome">
            <label>Nome:</label> <br />
            <input
              type="text"
              name="nome"
              id="nome"
              placeholder="Insira seu nome"
            />
          </div>

          <div class="item item-cadastro-senha">
            <label>Senha:</label> <br />
            <input
              type="password"
              name="senha"
              id="senha"
              placeholder="************"
            />
          </div>

          <div class="item item-cadastro-cpf">
            <label>CPF:</label> <br />
            <input
              type="text"
              placeholder="Ex.: 000.000.000-00"
              name="cpf"
              id="cpf"
            />
          </div>

          <div class="item item-cadastro-cor">
            <label>Cor</label> <br />
            <select name="cor" id="cor">
              <option selected value="null">---|---</option>
              <option value="branco">Branco</option>
              <option value="negro">Negro</option>
              <option value="pardo">Pardo</option>
              <option value="amarelo">Amarelo</option>
            </select>
          </div>
          <!-- Avisar mudanca   - ???????????-->
    
          
          <!-- Galera do Front, se alguem souber como fazer um script pra deixar a data maxima como a do dia atual, ajudaria bastante -->
          
          <div class="item item-cadastro-nascimento">
            <label for="data">Data de Nascimento</label> <br />
            <input
              type="date"
              id="data"
              name="data"
              value="2020-01-01"
              min="1910-01-01"
              max="2022-01-01"
            />
          </div>
          
          <div class="item item-cadastro-sexo">
            <select name="sexo" id="sexo">
              <option selected value="null">Sexo</option>
              <option value="masculino">Masculino</option>
              <option value="feminino">Feminino</option>
              <option value="outro">Outro</option>
            </select>
          </div>

          <input
            type="submit"
            value="Cadastrar"
            id="cadastrar"
            name="cadastrar"
          />
        
    </div>
  </body>
</html>
