<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="../../src/css/diagnostico.css" />
    <meta charset="utf-8">
    <title>Diagnostico</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
</head>
<body>

<script type='text/javascript'>
    $(document).ready(function(){
        $("input[name='cpf_paciente']").blur(function(){
            var $data_prevista = $("input[name='data_prevista']");
            var $crm_solicitador = $("input[name='crm_solicitador']");
            var $exame = $("input[name='exame']");
            var $diagnostico = $("input[name='diagnostico']");
    
            $.getJSON('/source/App/retorna/retorna_exame.php',{
                cpf_paciente: $( this ).val()
            },function( json ){
                $data_prevista.val( json.data_prevista );
                $crm_solicitador.val( json.crm_solicitador);
                $exame.val(json.exame);
    
                console.log('--> json', json);
            });
        });
    });
</script>

<form method="POST" action="/medico/diagnostico">
    <div class="container">
    <div class="label">
    <div class="item-cpf">
        <h1>Diagnóstico</h1>
    <input type="text" class="form-control" name="cpf_paciente" placeholder="CPF do paciente">
    </div>
    <div class="item-data">
    <input type="text" class="form-control" name="data_prevista" placeholder="Data do Exame">
    </div>
    <div class="item-crm">
    <input type="text" class="form-control" name="crm_solicitador" placeholder="CRM">
    </div>
    <div class="item-exame">
    <input type="text" class="form-control" name="exame" placeholder="Exame">
    </div>
    <div class="item-diagnostico">
    <textarea type="text" class="form-control" name="diagnostico" placeholder="Diagnóstico"></textarea>
    </div>
    <div class="botao-salvar">
    <input type="submit" value="Salvar">
    </div>
    </div>
</div>
</form>
</body>
</html>